<dag-nav-bar title="{{ 'Receive' | translate}}"></dag-nav-bar>

<div class="content receive" ng-scrollbars>


  <h2>{{'Tap the' | translate}} <strong>QR-code</strong> {{'to copy its address.' | translate}}<br/>{{'Share it with the sender via email or text.' | translate}}</h2>

  <div class="box-notification" ng-show="home.addrError">
                <span class="text-warning">
                  {{home.addrError|translate}}
                </span>
  </div>

  <div ng-click="home.copyAddress(home.addr[index.walletId])"
       ng-show="home.addr[index.walletId] || home.generatingAddress">
    <dag-qr-code url="{{home.protocol}}:{{home.addr[index.walletId]}}"></dag-qr-code>

    <div ng-show="!index.isCordova" ng-class="{'visible': tooltipCopiedShown}"
         class="tooltip radius tip-top" translate>
      <svg-icon name="done"></svg-icon>
      Copied!
    </div>
  </div>
  <div class="m10t" ng-hide>
    <h4 ng-class="{'enable_text_select': !index.isCordova}" class="size-12">
      {{index.shared_address || (home.generatingAddress ? '...' : home.addr[index.walletId])}}

    </h4>
  </div>

  <div class="page-action">
    <a ng-show="index.isCordova" href="#" ng-click="home.shareAddress(home.addr[index.walletId])"
       class="btn btn_red-full" translate>Share wallet link</a>
    <div ng-show="index.isCordova" class="page-action__info">
      <span translate>Share the link above to receive payments.</span></div>
  </div>
  <a class="size-14"
     ng-click="home.openCustomizedAmountModal(index.shared_address || home.addr[index.walletId])">
    <span translate>Request a specific amount</span>
  </a>


</div>

<div class="introduction-svg" ng-include="'views/includes/background.html'"></div>
